<table class="table table-striped table-dark table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Office Name</th>
    <th>Start working for</th>
    <th>Finish working for</th>
  <tr>
  </thead>
  <tbody>
  {% for person in persons %}
    <tr>
      <td>{{ person.id }}</td>
      <td><input type='text' id="new-name-{{ person.id }}" value='{{ person.name }}'/></td>
      <td><input type='text' id="new-age-{{ person.id }}" value='{{ person.age }}'/></td>

      {% if person.office_id is not none %}
        {% set office_name = person.office.name %}
        {% set statusStartWorking = 'disabled' %}
        {% set statusStopWorking = '' %}
      {% else %}
        {% set office_name = "no office" %}
        {% set statusStartWorking = '' %}
        {% set statusStopWorking = 'disabled' %}
      {% endif %}
      <td>{{ office_name }}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle {{ statusStartWorking }}" type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            company
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for office in offices %}
              <a class="dropdown-item" onclick="startWorkingFor('{{ person.id }}','{{ office.id }}')"
                 href="#">{{ office.name }}</a>
            {% endfor %}
          </div>
        </div>
      </td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle {{ statusStopWorking }}" type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            company
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" onclick="finishWorkingFor('{{ person.id }}')" href="#">{{ person.office.name }}</a>
          </div>
        </div>
      </td>

      <td>
        <button type="button" onclick="updatePerson('{{ person.id }}')" class="btn btn-primary">Update</button>
        <button type="button" onclick="deletePerson('{{ person.id }}')" class="btn btn-danger">Delete</button>

      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<script>
    function updatePerson(personID) {
        var data_obj = {
            name: $('#new-name-' + personID).val(),
            age: $('#new-age-' + personID).val()
        };
        var data = JSON.stringify(data_obj);
        $.ajax({
            url: '/api/persons/' + personID,
            dataType: 'json',
            type: 'PUT',
            data: data,
            contentType: 'application/json',
            success: function (response) {
                reloadPersons();
                reloadOffices();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                showError(jqXHR, textStatus, errorThrown)
            }
        })
    }

    function deletePerson(personID) {
        $.ajax({
            url: '/api/persons/' + personID,
            type: 'DELETE',
            success: function (response) {
                reloadPersons();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                showError(jqXHR, textStatus, errorThrown)
            }
        })
    }

    function startWorkingFor(personID, officeID) {
        $.ajax({
            url: '/api/persons/' + personID + '/startworkingfor/' + officeID,
            type: 'GET',
            success: function (response) {
                reloadPersons();
                reloadOffices();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                showError(jqXHR, textStatus, errorThrown)
            }
        })
    }

    function finishWorkingFor(personID) {
        $.ajax({
            url: '/api/persons/' + personID + '/finishworkingfor',
            type: 'GET',
            success: function (response) {
                reloadPersons();
                reloadOffices();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                showError(jqXHR, textStatus, errorThrown)
            }
        })
    }
</script>

